//===FONTS====== 

$h1-font: 'Fraunces',
serif;
$p-font: 'Montserrat',
sans-serif;

//====COLROS==== 

$bg-color: #F2EAE2;
$white: #fff;
$dark-green: #3D8168;
$dark-grey: #6C7289;
$hover: #1A4032;
$blackish: #1C232B;

//====FONT SIZES==== 

$h1-size: 2rem;
$p-size: 0.85rem;

//====BREAKPOINTS==== 

$breakpoints: ('tablet': 576px,
    'large-screen': 700px);

@mixin breakpoint ($size) {

    @media (min-width: map-get($breakpoints, $size)) {
        @content;
    }
}